[submodule "3rdParty/csv-parser"]
	path = 3rdParty/csv-parser
	url = https://github.com/rakeshgk/csv-parser
[submodule "3rdParty/irig106lib"]
	path = 3rdParty/irig106lib
	url = git@github.com:bbaggerman/irig106lib.git
